<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fcl.fmusic.mapper.SingerMapper">
    <resultMap id="singer" type="com.fcl.fmusic.entity.Singer">
        <id column="id" jdbcType="INTEGER" property="singerId"/>
        <result column="singer_name" jdbcType="VARCHAR" property="singerName"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="birth" jdbcType="VARCHAR" property="birth"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="information" jdbcType="VARCHAR" property="information"/>
    </resultMap>

    <sql id="BASE_SINGER_LIST">
        id,singer_name,gender,pic,birth,location,information
    </sql>

    <insert id="insert" parameterType="com.fcl.fmusic.entity.Singer">
        insert into singer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="singerId != null">
                id,
            </if>
            <if test="singerName != null">
                singer_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="information != null">
                information,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="singerId != null">
                #{singerId},
            </if>
            <if test="singerName != null">
                #{singerName},
            </if>
            <if test="gender != null">
                #{gender},
            </if>
            <if test="pic != null">
                #{pic},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="location != null">
                #{location},
            </if>
            <if test="information != null">
                #{information},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.fcl.fmusic.entity.Singer">
        update singer
        <set>
            <if test="singerName != null">
                singer_name=#{singerName},
            </if>
            <if test="gender != null">
                gender=#{gender},
            </if>
            <if test="pic != null">
                pic=#{pic},
            </if>
            <if test="birth != null">
                birth=#{birth},
            </if>
            <if test="location != null">
                location=#{location},
            </if>
            <if test="information != null">
                information=#{information},
            </if>
        </set>
        where id=#{singerId}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from singer where id =#{singerId}
    </delete>

    <delete id="deleteByIds" parameterType="java.util.ArrayList">
        delete from singer where id in
        <foreach collection="list" item="id"  separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectById" resultMap="singer" parameterType="java.lang.Integer">
        select 
        <include refid="BASE_SINGER_LIST"></include>
        from singer
        where id=#{singerId}
    </select>

    <select id="selectAllSinger" resultMap="singer">
        select
        <include refid="BASE_SINGER_LIST"></include>
        from singer
    </select>

    <select id="selectPage" resultMap="singer">
        select
        <include refid="BASE_SINGER_LIST"></include>
        from singer
        <where>
            <if test="gender!=null">
                gender=#{gender}
            </if>
            <if test="singerName!=null and singerName!='' and singerName.length() &gt; 2">
                and singer_name like #{singerName}
            </if>
        </where>
    </select>
</mapper>