<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:replace="common :: header"></div>
<div class="container clearfix">
    <div th:replace="common :: leftmenu"></div>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/"></a>首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">图书管理</a><span class="crumb-step">&gt;</span><span>新增图书</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form th:action="@{/singer/add}" th:method="post" >
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <th></i>歌手名：</th>
                            <td>
                                <input class="common-text required" id="title" name="singerName" size="50" value="" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th width="100"></i>性别：</th>
                            <td>
                                <input type="radio" name="gender" value="0">男&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="gender" value="1">女&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="gender" value="2">组合&nbsp;&nbsp;&nbsp;
                                <input type="radio" name="gender" value="3">保密&nbsp;&nbsp;&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>歌手图片：</th>
                            <td>
                                <input name="pic" id="" type="text">
                                <!--<input type="submit" onclick="submitForm('/jscss/admin/design/upload')" value="上传图片"/>-->
                            </td>
                        </tr>
                        <tr>
                            <th>生日：</th>
                            <td><input class="common-text" name="birth" size="50" value="" type="date"></td>
                        </tr>
                        <tr>
                            <th>地区：</th>
                            <td><input class="common-text" name="location" size="50" value="admin" type="text"></td>
                        </tr>
                        <tr>
                            <th valign="top">简介：</th>
                            <td><textarea name="information" class="common-textarea" id="content" cols="30" style="width: 98%;" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onClick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
</div>
</body>
</html>